<div>
  <h4>Comments</h4>
  {{! post.comments can't be destructured in a nice way, so we use 'this' to access post.comments }}
  <ul>
    {{#each this}}
      <li>
        <section class='comment'>
          <div class='text'>
            "{{comment_text}}"
          </div>

          <div class='meta'>
            -{{user.username}}
            ({{format_date created_at}})
          </div>

        </section>
      </li>
    {{/each}}
  </ul>
</div>