<div>
  <ul>
    {{#each this}}
      <li>
        <section class='comment'>
          <div class='text'>
            "{{comment_text}}"
          </div>

          <div class='meta'>
            -{{user.username}}
            ({{format_date created_at}})
          </div>

        </section>
      </li>
    {{/each}}
  </ul>
</div>