<html lang='eng'>
  <head>
    <title>Techy Blog</title>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet' href='\stylesheets\style.css' />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Raleway'
    />
    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
  </head>
  <body>

    <!-- Header -->
    <header>
      <h1>Welcome to Techy Blog!</h1>
      <nav>
        <button>Home</button>
        <button>Dashboard</button>
        <button>Login</button>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <!-- Footer -->
    <footer>
      <p>Made with love by
        <a href='github.com/kfisch2' target='_blank'>Kayla Fischer</a></p>
    </footer>
  </body>
</html>