<html lang='eng'>
  <head>
    <title>Nerd herd</title>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <!-- Compiled and minified CSS -->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
    <link rel='stylesheet' href='\stylesheets\style.css' />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Raleway'
    />
    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
  </head>
  <body>

    <!-- Header -->
    <header>
      <nav>
        {{#if loggedIn}}
          <a href='/dashboard'>dashboard</a>
          <a href='/' class='logoutBtn'>logout</a>
        {{else}}
          <a href='/login' class='loginBtn'>login/signup</a>
        {{/if}}
      </nav>
      <a class='logo' href='/'><span>NerdHerd</span></a>
    </header>
    <main>
      <div class='container'>

        {{{body}}}

      </div>
    </main>
    <!-- Footer -->
    <footer>
      Made with love by
      <a href='github.com/kfisch2' target='_blank'>Kayla Fischer</a>
    </footer>

    <!-- Compiled and minified JavaScript -->
    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    ></script>
  </body>
</html>