{{!-- <h3>Hello, </h3>
<h6 style='font-style: italic;'>Got something on your mind? Share with your techie friends!</h6> --}}

<div class="row">
  <section class="col new-post"> 
    <h4>Create a new post</h4>
    {{!-- Post title--}}
    <form class="new-post-form">
      <div class='row'>
        <div class='input-field col s6'>
          <input id='post-title' name="post-title" type='text' />
          <label for='post-title' class="placeholder">Title</label>
        </div>
      </div>
      {{!--Text area--}}
      <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" name="post-text"></textarea>
            <label for="textarea1">Type away!</label>
          </div>
      </div>

      <button type="submit" class="addPost btn btn-large">Add to your blog</button>
    </form>
  </section>

  <section class="col posts">
    {{#if posts.length}}
    <h4 style="text-align: center">Your recent posts</h4>
    <ol>
      {{#each posts as |post|}}
      <li>
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </li>
      {{/each}}
    </ol>
    {{/if}}
  </section>

</div>
<script src="/js/add-post.js"></script>
