<article>  
  <a href="/dashboard"> &larr; go back</a>
  <section class="col s12 m4 l6 new-post"> 
    <h4>Edit your post</h4>
    {{!-- Post title--}}
    <form class="edit-post-form">
      <div class='row'>
        <div class='input-field col s6'>
          <input id='post-title' name="post-title" type='text' value="{{post.title}}" />
          <label for='post-title' class="placeholder">Title</label>
        </div>
      </div>
      {{!--Text area--}}
      <div class="row">
          <div class="input-field col s12">
            <input name="post-text" value="{{post.post_text}}"></input>
            <label for="textarea1"></label>
          </div>
      </div>

      <button type="submit" class="save-post-btn btn btn-large">Update post</button>
      <button type="button" class="delete-post-btn btn btn-large">Delete post</button>
    </form>
  </section>

{{> comments post.comments }}

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>