<div class='row'>
  {{! LOGIN }}
  <form class='col s5 loginRow'>

    <div class='row'>
      <div class='input-field col s6'>
        <input id='loginUsername' type='text' class='validate' />
        <label for='loginUsername'>Username</label>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s6'>
        <input id='loginPassword' type='password' class='validate' />
        <label for='loginPassword'>Password</label>
      </div>
    </div>

    <a class='waves-effect waves-light btn'>Login</a>

  </form>

  {{! SIGN UP }}
  <form class='col s7 signupRow'>
    <div class='row'>
      <div class='input-field col s6'>
        <input id='register-name' type='text' class='validate' />
        <label for='register-name'>First Name</label>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s6'>
        <input id='register-username' type='text' class='validate' />
        <label for='register-username'>Username</label>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s6'>
        <input id='registerPassword' type='password' class='validate' />
        <label for='registerPassword'>Password</label>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s6'>
        <input id='email' type='email' class='validate' />
        <label for='email'>Email</label>
      </div>
    </div>

    <a class='waves-effect waves-light btn'>Sign up</a>
  </form>
</div>