{{! Missing fields modal }}
<!--MODAL 1-->
<div id='modal1' class='modal'>
  <div class='modal-content'>
    <h6>Something is missing...</h6>
    <p>Username and password required</p>
  </div>
  <div class='modal-footer'>
    <a href='#!' class='modal-close waves-effect waves-green btn-flat'>Okay</a>
  </div>
</div>

<!--MODAL 2-->
<div id='modal2' class='modal'>
  <div class='modal-content'>
    <h6>Something is missing...</h6>
    <p>Username, email, and password required</p>
  </div>
  <div class='modal-footer'>
    <a href='#!' class='modal-close waves-effect waves-green btn-flat'>Okay</a>
  </div>
</div>

<!--MODAL 3-->
<div id='modal3' class='modal'>
  <div class='modal-content'>
    <h6>Something is wrong...</h6>
    <p>Incorrect username or password</p>
  </div>
  <div class='modal-footer'>
    <a href='#!' class='modal-close waves-effect waves-green btn-flat'>Okay</a>
  </div>
</div>

<!--MODAL 4-->
<div id='modal4' class='modal'>
  <div class='modal-content'>
    <h6>Something is wrong...</h6>
    <p>Username or email already in use</p>
  </div>
  <div class='modal-footer'>
    <a href='#!' class='modal-close waves-effect waves-green btn-flat'>Okay</a>
  </div>
</div>

<div class='row'>
  {{! LOGIN }}
  <form class='col s5 login-form'>
    <div class='row'>
      <div class='input-field col s6'>
        <input id='login-username' type='text' class='validate' />
        <label for='login-username'>Username</label>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s6'>
        <input id='login-password' type='password' class='validate' />
        <label for='login-password'>Password</label>
      </div>
    </div>

    <div>
      <button class='waves-effect waves-light btn btn-large'>Login</button>
    </div>

  </form>

  {{! SIGN UP }}
  <form class='col s7 register-form'>
    <div class='row'>
      <div class='input-field col s6'>
        <input id='register-username' type='text' class='validate' />
        <label for='register-username'>Username</label>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s6'>
        <input id='email' type='email' class='validate' />
        <label for='email'>Email</label>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s6'>
        <input id='register-password' type='password' class='validate' />
        <label for='register-password'>Password</label>
      </div>
    </div>

    <div>
      <button class='waves-effect waves-light btn btn-large'>Sign up</button>
    </div>
  </form>
</div>

<script src='/js/login.js'></script>
<!-- Materialize JS -->
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
></script>