* {
  /* background-color: rgb(204, 240, 229); */
}

header {
  text-align: right;
}
header nav {
  background-color: #05c0a7;
}

header h3 {
  margin-left: 50px;
}

nav a {
  margin: 25px;
  font-size: 35px;
}

nav a:hover {
  color: rgba(4, 43, 13, 0.568);
  background-color: rgba(255, 255, 255, 0.658);
  animation-delay: 0.5s;
  font-style: italic;
  border-radius: 3px;
  padding: 5px;
}

input-field > label {
  color: black;
  font-size: 2rem;
}
.row {
  margin: 25px 60px;
}

.loginRow,
.signupRow {
  margin-left: 5px;
}
